* {
    color: #333;
    font-family: "Segoe UI", sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 16px 32px;
    border-bottom: 1px solid #d6d6d6;

    h1 {
        font-weight: bold;
    }

    p {
        color: #666;
        font-size: 12px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }
}

.main {
    gap: 12px;
    display: flex;
    margin-top: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 28px;
    border-radius: 8px;
    border: 1px solid #d6d6d6;

    width: 100%;
    max-width: 700px;
}

.tabs {
    display: flex;

    margin-bottom: 24px;
    border-bottom: 1px solid #d6d6d6;
}

.tab {
    display: flex;
    align-items: center;
    gap: 4px;

    color: #555;
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 8px 18px;
    border-bottom: 3px solid transparent;
    font-size: 16px;

    .icon {
        width: 20px;
        height: 20px;
    }
}

.tab:hover {
    border-bottom: 3px solid #f6c478;
    transition: 0.5s border-bottom-color;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .content-header {
        p {
            margin-top: 6px;
            color: #666;
        }
    }

    .content-main {
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
        }
    }
}

.input {
    width: 100%;

    padding: 12px;
    margin-bottom: 18px;

    font-size: 16px;

    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;

    padding: 16px;

    border: none;
    border-radius: 6px;

    color: #fff;
    background-color: #f1a633;

    font-size: 16px;
    font-weight: bold;
}

.alert-error, .alert-success, .alert-info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
    max-width: 700px;

    border: 1px solid #d6d6d6;
    border-radius: 8px;
    padding: 24px;
}

.alert-error {
    border-color: rgb(216, 74, 74);

    h3 {
        color: rgb(216, 74, 74);
    }
}

.alert-success {
    border-color: rgb(74, 216, 74);

    h3 {
        color: rgb(74, 216, 74);
    }

    span {
        font-weight: bold;
    }
}

.alert-info {
    border-color: rgb(74, 100, 216);

    h3 {
        color: rgb(74, 100, 216);
    }

    span {
        font-weight: bold;
    }

    div {
        padding-bottom: 4px;
        padding-left: 2px;
    }
}